h1 {
    text-align: center;
  }
  
  #container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  #hand {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s, opacity 0.2s;
  }
  
  #target {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 2px solid red;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  #options {
    text-align: left;
    margin-top: 20px;
  }

  #myPhoto{
    height: 500px;
  }
  