body {
    background-color: #ffe6ea; /* Zachte roze achtergrondkleur */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #ff385c; /* Rode titelkleur */
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
    color: #ff385c; /* Rode labelkleur */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ff385c; /* Rode randkleur */
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff385c; /* Rode knopkleur */
    color: #ffffff; /* Witte tekstkleur */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #resultaat {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #ff385c; /* Rode resultaatkleur */
  }
  
  /* Stijl voor de tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff; /* Witte achtergrondkleur */
    border: 1px solid #ff385c; /* Rode randkleur */
  }
  
  /* Stijl voor de tabelkoprij */
  thead {
    background-color: #ff385c; /* Rode achtergrondkleur */
    color: #ffffff; /* Witte tekstkleur */
  }
  
  /* Stijl voor de tabelkopcellen */
  th {
    padding: 10px;
  }
  
  /* Stijl voor de tabelcellen */
  td {
    padding: 10px;
    border-bottom: 1px solid #ff385c; /* Rode onderstreeplijn */
  }
  
  /* Alternatieve stijl voor even rijen */
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Lichtgrijze achtergrondkleur */
  }
  
  /* Stijl voor de knop om de tabeldata te wissen */
  #clearButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff385c; /* Rode knopkleur */
    color: #ffffff; /* Witte tekstkleur */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  