.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  img{
    max-width: 100%;
    
  }
  
  .photo {
    position: relative;
    width: 300px; /* Aangepaste breedte */
    height: 533px; /* Aangepaste hoogte */
  }
  
  .blurred {
    filter: blur(10px);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: none
;    transition: opacity 0.3s ease-in-out;
  }
  
  .photo:hover .overlay {
    display: block;  }
  
  .password-input {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  