/* CSS voor het beginscherm */

/* Algemene opmaak */
body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #ff5a5f;
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 40px;
}

/* Opmaak voor de spelknoppen */
.game-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  display: inline-block;
  background-color: #ff5a5f;
  color: #fff;
  font-size: 18px;
  padding: 16px 28px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Specifieke opmaak voor enkele knoppen */
a#thomas {
  background-color: #3a86ff;
}

a#SnakeGame {
  background-color: #19bd9a;
}

a#djboot {
  background-color: #fcb900;
}

a#FlappyBirdGame {
  background-color: #fb5607;
}

a#MarioGame {
  background-color: #ff006e;
}

a#dieet {
  background-color: #8338ec;
}

a#bijkomen {
  background-color: #3d3d3d;
}

a#training-dbh {
  background-color: #795548;
}


.welcome {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #333;
}

.welcome span {
  margin-right: 5px;
}

#username {
  font-weight: bold;
}

#galgje{
  background-color: #3a86ff;
}

