body {
    background-color: #1d1f27;
    margin: 0;
    font-family: Arial, sans-serif;
    
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #252932;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: #ffffff;
    overflow-y: auto;
    max-height: 500px;
    text-align: center;
    text-align: center;

  }

  h1 {
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #afafaf;
    text-align: center;

    
  }

  h2 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #afafaf;
    text-align: center;

  }

  h3 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #afafaf;
    text-align: center;

  }

  p {
    margin-bottom: 50px;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;

  }
  .button {
    display: inline-block;
    width: 80px;
    height: 40px;
    margin: 10px;
    border-radius: 10%;
    background-color: #2e3541;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
  }

  #LabVIEW_LED{
    border-radius: 50px;
    width: 1100px;
    height: 500px;
    margin-left: 200px;
  }
  
  #knopjes{
    border-radius: 50px;
    margin-left: 100px;
  }
  
  #Draaiknop_text{
    margin-right: 500px;
    overflow: auto;
    margin-top: 100px;
  }

  #Draaiknop{
    margin-top: 50px;
    margin-right: 190px;
    float: right;
    border-radius: 50px;
    height: 300px;
  }

  #drukknoppen_simu{
    margin-top: 200px;
  }
  
  #drukknoppen_img{
    height: 500px;
    margin-left: 320px;
  }

  