body {
    font-family: Arial, sans-serif;
    
}

  .header {
    text-align: center;
    padding: 20px;
  }

  .logo {
    width: 100px;
    height: 100px;
    background: url('/games/VHL/img/VHL_logo.png') center/cover;
  }

  .livestream {
    text-align: center;
    padding: 20px;
  }

  .schedule {
    margin: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  .logo{
    margin-top: 0%;
  }

  #lucas_willibal_qr{
    height: 500px;
  }

  #ploegfoto{
    height: 500px;
    margin-left: 350px;
    margin-top: 50px;
  }